.result-container{
    height: 417px;
    width: 413px;
    border-radius: 15px;
    background: #00474B;
    padding:40px;
}
.tip-amount-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.txt-box{
    margin-top: 16px;
}
.txt-box h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.txt-box p{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}
.tip-amount-result{
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    text-align: right;
    letter-spacing: -1px;
    color: #26C2AE;
}

.reset-btn{
    height: 48px;
    width: 333px;
    border-radius: 5px;
    background-color: #26C2AE;
    color: #00474B;
    font-family: "space mono";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 98px;
    cursor: pointer;
}
.reset-btn:hover{
    background: #9FE8DF;
}

@media only screen and (max-width: 600px){
    .result-container{
        height: 257px;
        width: 327px;
        padding:37px 24px 24px 24px;
    }
    .txt-box{
        margin-top: 2px;
    }
    .tip-amount-box{
        margin-bottom: 21px;
    }
    .tip-amount-result{
        font-size: 32px;
        line-height: 47px;
        letter-spacing: -0.6px;
    }
    .reset-btn{
        height: 48px;
        width: 281px;
        margin-top: 12px;
    }
}